<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${config.siteTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link th:if="${config.hasFavicon152}" rel="apple-touch-icon-precomposed" th:href="@{/favicon-152.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-light bg-light mb-3">
    <div class="container">
        <a th:if="${config.hasLogo}" th:href="@{/}">
            <img th:src="@{/img/logo.png}" height="40" class="d-inline-block align-top" th:title="${config.siteTitle} + ' Home'" />
        </a>
        <a th:unless="${config.hasLogo}" class="navbar-brand" th:text="${config.siteTitle}" th:href="@{/}"></a>
        <a th:href="@{/location}" th:text="${config.mostCommonLocation}"></a>
        <a th:href="@{/all}">All</a>
        <form class="form-inline" method="get" th:action="@{/search}">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
        </form>
    </div>
</nav>

<div layout:fragment="content" class="container">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
</script>

</body>
</html>
